<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">


    <import resource="spring-base.xml"/>

    <bean id="spittleListener" class="com.tian.spring.rabbitmq.SpringRabbitMqConsumer"/>

    <!--<rabbit:listener-container connection-factory="connectionFactory">-->
        <!--<rabbit:listener ref="spittleListener" method="onMessage"-->
                         <!--queues="spittle.alert.queue.1,spittle.alert.queue.2,spittle.alert.queue.3"/>-->
    <!--</rabbit:listener-container>-->


    <rabbit:listener-container connection-factory="connectionFactory" concurrency="10">
        <rabbit:listener ref="spittleListener" method="onMessage"
                         queues="direct-queue-1"/>
    </rabbit:listener-container>


    <!--
    @Bean
    public SimpleMessageListenerContainer messageContainer() {
        SimpleMessageListenerContainer container = new SimpleMessageListenerContainer(connectionFactory());
        container.setQueues(queue());
        container.setExposeListenerChannel(true);
        container.setMaxConcurrentConsumers(1);
        container.setConcurrentConsumers(1);
        container.setAcknowledgeMode(AcknowledgeMode.MANUAL);
        container.setMessageListener(new ChannelAwareMessageListener() {

            public void onMessage(Message message, com.rabbitmq.client.Channel channel) throws Exception {
                byte[] body = message.getBody();
                logger.info("消费端接收到消息 : " + new String(body));
                channel.basicAck(message.getMessageProperties().getDeliveryTag(), false);
            }
        });
        return container;
    }
    -->


</beans>