<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">


    <import resource="spring-base.xml"/>

    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>
    <!--创建消息队列模板-->
    <!--<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"-->
    <!--exchange="spittle.fanout" message-converter="jsonMessageConverter"/>-->

    <!--创建消息队列模板-->
    <rabbit:template id="rabbitTemplate2" connection-factory="connectionFactory"
                     exchange="direct-exchange-queue" message-converter="jsonMessageConverter"/>

    <!--使用 routing-key 分布处理 -->
    <!--<rabbit:queue id="self-queue" name="self-queue" durable="true" auto-delete="false"/>-->
    <!--<rabbit:direct-exchange id="self-exchange" name="self-exchange" durable="true" auto-delete="false">-->
    <!--<rabbit:bindings>-->
    <!--<rabbit:binding queue="self-queue" key="self-queue-key"></rabbit:binding>-->
    <!--</rabbit:bindings>-->
    <!--</rabbit:direct-exchange>-->
    <!--<rabbit:template id="rabbitTemplate3" connection-factory="connectionFactory"-->
    <!--exchange="self-exchange" routing-key="self-queue-key" message-converter="jsonMessageConverter"/>-->


</beans>