<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--bean-->
    <bean id="mainTest" class="com.tian.spring.quartz.MyTestJob"/>

    <!--detail-->
    <bean id="mainTestDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mainTest"/>
        <property name="targetMethod" value="jobCronTest"/>
        <!--是否允许并发：默认 true -->
        <property name="concurrent" value="false"/>
    </bean>
    <!--cron-->
    <bean id="mainTestTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mainTestDetail"/>
        <property name="cronExpression" value="0/1 * * * * ?"/>
        <property name="misfireInstruction" value="2"/>
    </bean>
    <!--scheduleFactory-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    </bean>


</beans>