<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:property-placeholder location="mysql.properties"/>-->

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>mysql.properties</value>
        </property>
    </bean>


    <bean id="personVo" class="com.tian.spring.common.PersonVo">
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

</beans>